.linear{
  position:absolute;
  top:0;

  background-image: linear-gradient(to top, #405084,#081230);
  height: 1500px;
  width: 100%;
  z-index:-1;
}
.slide {
  font-size: 40px;
  text-align: center;

  font-family: 'Amatic SC', cursive;
  color: white;
  z-index: 0;

}
#name {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  position: absolute;
  bottom: 5%;
  right: 6%;
}


#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background-color: rgba(0,0,0, 0);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}
.star1 {
  position: absolute;
  left: 0.5%;
  top:400px;

  margin: auto;
  animation-name: shrink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes shrink {
  0% {
    transform: scale(0.3) rotate(-25deg);

  }
  30% {
    transform: scale(0.3)rotate(-25deg);
  }
  50%{
    transform: scale(0)rotate(-25deg);
  }
  70% {
    transform: scale(0.3)rotate(-25deg);
  }
  100% {
    transform: scale(0.3)rotate(-25deg);
  }
}
.star2 {
  position:absolute;
  left:25%;
  top: 100px;

  transform: rotate(90deg) scale(0.5);


  animation-name: shrink2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}
@keyframes shrink2 {
  0% {
    transform: rotate(90deg) scale(0.5);
  }
  50% {
    transform: rotate(90deg) scale(0.5);
  }
  70% {
    transform: rotate(90deg) scale(0);
  }
  100% {
    transform: rotate(90deg) scale(0.5);
  }
}
.star3 {
  position: absolute;
  top: 100px;
  left: 57.5%;
  transform: rotate(90deg) scale(0.4);
}
.clock {
  position: absolute;
  top: 50px;
  z-index: 2;
  right:11%;
  transform: scale(0.1);

  animation-name: RO;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}
@keyframes RO {
  0% {
    transform: rotate(0deg)scale(0.1);
  }
  100% {
    transform: rotate(360deg) scale(0.1);
  }
}
.hour{
  position: absolute;
  top: 100px;
  z-index: 2;
  left: 27%;
  transform: scale(0.2);
}

.house{
  position: absolute;
  top: 200px;
  z-index: 2;
  left: 51%;
  transform: scale(0.4);
}
